@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$fontTitle: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
$fontLogo: 'Cherry Bomb One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$fontSologan: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
$fontUserName: 'Goldman', cursive;
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
$fontLink: 'Fjalla One', sans-serif;